Repository merih-sakarya/ng-starter-template-01: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "**/*.{md,html}": [
    "prettier --write"
  ],
  "**/*.{js,ts}": [
    "prettier --write",
    "eslint"
  ]
}

Comments updated
  src/app/core/services/authentication.service.ts
  src/app/core/setup/setup.service.ts
Due: prettier --write, eslint

prettier-ignore changes
  src/app/routes/home/home.module.ts
  src/app/routes/notification/notification.module.ts
  src/app/routes/passport/login/login.module.ts
Due: prettier --write, eslint

code refactoring
  src/app/layout/layout-default/header/header.component.html
  src/app/routes/home/home.component.html
  src/styles/layout/_layout_default.scss
  src/styles/pages/_pages_notification.scss
Due: prettier --write

scss rule added to lintstage & files formated
  .lintstagedrc.json
  .vscode/settings.json
  src/styles.scss
  src/styles/abstracts/_abstracts_variables.scss
  src/styles/abstracts/index.scss
  src/styles/base/_base_general.scss
  src/styles/components/_components_tnt_alert.scss
  src/styles/index.scss
  src/styles/layout/_layout_default.scss
  src/styles/layout/_layout_passport.scss
  src/styles/layout/index.scss
  src/styles/pages/_pages_home.scss
  src/styles/pages/_pages_login.scss
  src/styles/pages/_pages_notification.scss
  src/styles/vendors/index.scss
Due: none

stylelint settings
  .husky/pre-commit
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

scss files formated
  .vscode/settings.json
  src/styles/base/_base_general.scss
  src/styles/layout/_layout_default.scss
  src/styles/layout/_layout_passport.scss
  src/styles/pages/_pages_login.scss
Due: none

Readme updated
  README.md
Due: prettier --write

Readme updated
  README.md
  src/assets/images/screen-record.gif
Due: prettier --write

eslint ecma-version updated
  .eslintrc.json
Due: none

email from user-context
  src/app/layout/layout-default/header/header.component.html
  src/app/layout/layout-default/header/header.component.ts
Due: prettier --write, eslint
